@use 'reset';
@use 'vars';


@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}
body {
  font-family: 'Source Code Pro', sans-serif;
  background-color: vars.$color-back;
}

